@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BebaNeue";
  src: url(./assets/Bebas_Neue/BebasNeue-Regular.ttf);
}

body {
  font-family: "BebaNeue";
}

/* PROJECT CARD  */

.project-title {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 5%;
}

.project-card-container {
  transition: transform 0.3s;
}

.project-card-container:hover {
  transform: scale(1.1);
}
